* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', 'sans-serif';
    --text-color: #E1E1E6;
    --text-color-header: #7C7C8A;

    --input-bg-color: #06181C;
    ;
    --bg-color: #000000;
    --tb-odd-bg-color: rgba(6, 22, 27, 0.5);
    --tb-even-bg-color: rgba(6, 24, 28, 1);
    ;
    ;
    --tb-header-color: #092D38;
    --remove-color: rgba(247, 90, 104, 1);

}


/*-------------------------------------- It is used for acessibility only --------------------------------------*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    background-color: var(--bg-color);

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 11.5rem;


    font-family: var(--ff-primary);
}

header {
    width: 112.0rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    width: 18.6rem;
    height: 3.2rem;
}

.search {
    height: 4.8rem;
    width: 64.0rem;

    display: flex;
    align-items: center;

    gap: 8px;
}

.search input {
    height: 4.8rem;
    width: 46.2rem;
    background-color: var(--input-bg-color);
    appearance: none;

    border: none;
    border-radius: .5rem;
}

/* Change the input text color so we can see in a dark background*/
#input-search {
    color: white;
    padding: 2rem;
}


.search input::placeholder {
    padding-left: 16px;
    color: var(--text-color-header);
}


.search button {
    height: 4.8rem;
    width: 17.0rem;
    border-radius: 5px;

    border: none;

    cursor: pointer;
}

.search button:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

table {
    border-collapse: collapse;

    margin-top: 12.7rem;
    width: 112.0rem;
    height: 4.8rem;

}

table * {
    font-size: 2.0rem;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--text-color);
}


.nenhum-favorito {
    width: 112.0rem;
    height: 62.4rem;

    background: #030B0D;
    border: 1px solid #4A808C;
    border-radius: 0px 0px 12px 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nenhum-favorito p {
    padding-left: 60px;
    color: rgba(78, 84, 85, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
}

.hide {
    display: none;
}


table th {
    background-color: var(--tb-header-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;

    padding-left: 4.0rem;
}

table th:first-child {
    border-top-left-radius: 1.2rem;
}

table th:last-child {
    border-top-right-radius: 1.2rem;
}


/*Deixar tabela com linhas cinzas mais escuras e mais claras intercaladas*/
table tr:nth-child(even) {
    background: var(--tb-even-bg-color);
}

table tr:nth-child(odd) {
    background: var(--tb-odd-bg-color);
}

/*Deixar tabela com linhas cinzas mais escuras e mais claras intercaladas*/



table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    padding-left: 4.0rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}


td.user img {
    width: 5.6rem;
    height: 5.6rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user span {
    font-weight: 400;
}

td .remove {
    background: none;
    border: none;

    color: var(--remove-color);

    padding-left: 4.0rem;

    cursor: pointer;
}

td .remove:hover {
    transform: scale(1.1);
}

.followers {
    color: var(--text-color);
    padding-left: 4.0rem;
}

.repositories {
    color: var(--text-color);
    padding-left: 4.0rem;
}