* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /*10px*/
    --ff-main: 'Mulish', 'sans-serif';


    /*          Colors          */

    --background-color: #F9F4FB;
    --big-text-color: #B52184;
    --small-text-color: #312D64;
    --white-color: #FFFFFF;

    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}


.main {
    width: 43rem;
    height: 100vh;

    display: flex;
    align-items: center;

    background-color: var(--background-color);
}

.container1 {
    display: flex;
    flex-direction: column;
    height: 67.9rem;
    width: 43.0rem;

    align-items: center;
}

.container1 img {
    width: 36.4rem;
    height: 37.0rem;

    margin-bottom: 1.7rem;
}

.container1 h1 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: 32px;
    color: var(--big-text-color);
    margin-bottom: 0.5rem;

    line-height: 40px;
}

.container1 p {
    font-family: var(--ff-main);
    font-weight: 600;
    font-size: 20px;
    color: var(--small-text-color);
    margin-bottom: 3.5rem;

    line-height: 25px;
}

.container1 button {
    border: none;
    background-color: transparent;
}

.container1 button img {
    height: 10.5rem;
    width: 5.85rem;

    margin-bottom: 9.3rem;
}

.container2 {
    background: var(--gradient-background);
    height: 124.2rem;
    width: 43.0rem;
}

.card-container {
    padding: 53px 39px 55px 39px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card {
    width: 35.2rem;
    height: 33.8rem;

    border-radius: 2rem;
    padding: 26px;
    background-color: var(--white-color);
}

.card img {
    height: 80px;
    width: 80px;
}

.card h2 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: 30px;
    line-height: 3.7rem;
    font-style: normal;

    color: var(--big-text-color);


    margin-top: 33px;
    margin-bottom: 20px;
}

.card p {
    font-family: var(--ff-main);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;

    color: var(--small-text-color);
}


.container3 {
    background-color: var(--background-color);
    height: 56.5rem;
    width: 43.0rem;

    padding: 78px 39px 65px 39px;
}

.input-wrapper {}

.container3 h1 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: 30px;
    line-height: 3.7rem;
    font-style: normal;

    color: var(--big-text-color);
    margin-bottom: 43px;
}

fieldset {
    border: none;
}

#name,
#email,
#textinput,
#button {
    border: none;
    background: none;
}

#name {
    border: 2px solid #312D64;
    border-radius: 16px;
    width: 348px;
    height: 48px;
}