* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /*10px*/
    --ff-main: 'Mulish', 'sans-serif';

    --fs-mob-small: 1.6rem;
    --fs-mob-medium: 2.0rem;
    --fs-mob-big: 3.0rem;
    --fs-mob-xbig: 3.2rem;

    /*          Colors          */

    --background-color: #F9F4FB;
    --big-text-color: #B52184;
    --small-text-color: #312D64;
    --white-color: #FFFFFF;

    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}


.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    background-color: var(--background-color);
}

.container1 {
    display: flex;
    flex-direction: column;
    height: 67.9rem;

    align-items: center;
}

.container1 img {
    height: 37.0rem;

    margin-bottom: 1.7rem;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 h1 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: var(--fs-mob-xbig);
    color: var(--big-text-color);
    margin-bottom: 0.5rem;

    line-height: 40px;
}

.container1 p {
    font-family: var(--ff-main);
    font-weight: 600;
    font-size: var(--fs-mob-medium);
    color: var(--small-text-color);

    line-height: 25px;
}

#arrow_button {
    border: none;
    background-color: transparent;
    width: 60px;
    height: 105px;

    margin-top: 35px;

}

.container1 button img {
    height: 10.5rem;
    width: 5.85rem;

    margin-bottom: 9.3rem;
}

.container2 {
    background: var(--gradient-background);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    width: 100%;

    padding: 53px 39px 55px 39px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card {
    border-radius: 2rem;
    padding: 26px;
    background-color: var(--white-color);
}

.card img {
    height: 80px;
    width: 80px;
}

.card h2 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: var(--fs-mob-big);
    line-height: 3.7rem;
    font-style: normal;

    color: var(--big-text-color);


    margin-top: 33px;
    margin-bottom: 20px;
}

.card p {
    width: 26.5rem;
    height: 100%;

    font-family: var(--ff-main);
    font-weight: 600;
    font-size: var(--fs-mob-small);
    line-height: 20px;
    font-style: normal;

    color: var(--small-text-color);
}


.container3 {
    background-color: var(--background-color);
    height: 56.5rem;
    padding: 7.8rem 3.9rem 6.5rem 3.9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.container3 h1 {
    font-family: var(--ff-main);
    font-weight: 900;
    font-size: var(--fs-mob-xbig);
    line-height: 3.7rem;
    font-style: normal;

    color: var(--big-text-color);
    margin-bottom: 4.3rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#name,
#email,
#textinput,
#button {
    border: none;
    background: none;
}

#name,
#email {
    border: 0.2rem solid #312D64;
    border-radius: 1.6rem;
    width: 34.8rem;
    height: 4.8rem;

    text-align: center;
}

#textinput {
    border: 0.2rem solid #312D64;
    border-radius: 1.6rem;
    width: 34.8rem;
    height: 12.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    font-weight: 600;
    font-size: var(--fs-mob-small);

    color: var(--small-text-color);

    padding-left: 1.6rem;
    padding-top: 1.2rem;

    display: flex;
}

#name {
    background: url(/IMG/person.svg) no-repeat scroll 1.4rem 1.2rem;
}

#email {
    background: url(/IMG/at.svg) no-repeat scroll 1.4rem 1.2rem;
}


.button {
    background: var(--gradient-background);
    color: var(--white-color);

    font-size: var(--fs-mob-small);
    font-weight: 700;
    line-height: 2.4rem;

    padding: 1rem 1.6rem;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: filter 200ms;

    margin-top: 2.4rem;

}


footer {
    background: var(--gradient-background);
    height: 7.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--white-color);
    font-family: var(--ff-main);

    font-weight: 600;
    font-size: var(--fs-mob-medium);
    line-height: 2.4rem;
}

.stars {
    display: none;
}


@media (min-width: 1440px) {


    /*----------Global----------*/

    .main {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;

        background-color: var(--background-color);
    }

    /*----------Container 01----------*/

    .container1 {
        display: flex;
        flex-direction: row;

        height: 83.6rem;

        margin-left: 3.0rem;
    }

    .container1 img {
        order: 2;
        height: 73.2rem;
        width: 72.0rem;

        margin-right: 3.0rem;
        margin-top: -90px;
    }

    .main_text {
        width: 100%;
        height: 100%;
        margin-left: 10.9rem;
        display: flex;
        flex-direction: column;
        align-items: start;

    }

    .container1 h1 {
        font-size: 5.8rem;
        line-height: 7.3rem;

        margin-top: 31.2rem;
        margin-bottom: 0.8rem;
    }

    .container1 p {
        font-size: 3.2rem;
        line-height: 4.0rem;

    }

    #arrow_button {
        margin-top: 17.9rem;
    }

    #arrow_button img {
        margin-top: 0px;

    }



    /*----------Container 02----------*/

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6.0rem;

        margin: 6.4rem 11.1rem 6.4rem 11.1rem;

    }

    .card {
        border-radius: 2.4rem;
    }

    .card:hover {
        transform: scale(1.05);
        transition: transform 280ms ease-out 80ms;
    }

    .card img {
        height: 97px;
        width: 97px;
    }

    .card h2 {
        font-size: 3.5rem;
    }

    .card p {
        font-size: 2.0rem;
        height: 100%;
    }

    /*----------Container 02----------*/


    .stars {
        display: inline;
        width: 64.4rem;
        height: 61.2rem;
    }

    .container3 {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        height: 100%;

        padding: 0rem 0rem 0rem 10.9rem;
    }

    form {
        margin-top: 9.5rem;
    }

    .container3 h1 {
        font-size: 4.2rem;
        line-height: 5.3rem;

        margin-bottom: 3.0rem;
    }

    #name,
    #email {
        width: 59.2rem;
    }

    #textinput {
        width: 59.2rem;
        height: 12.6rem;


    }






}