body {
    background-color: hsla(0, 0%, 100%, 1);
}

.page {
    text-align: center;
}

main{
    color: linear-gradient(0deg, #3F3D56, #3F3D56);

}
.title {
    font-family: 'Dosis', sans-serif;

    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3F3D56;

    margin-top: 32px;
    margin-bottom: 16px;
}

.title span {
    font-weight: 700;
    color: #EE24FF;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;

    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    
    color: #828282;
}

.subtitle strong {
    font-weight: 700;
    color: #3F3D56;
}

.main p {
    font-family: 'Open Sans', sans-serif;

    color: #828282;
}

.footer {
    margin-top: 64px;
}
.Opcoes {
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 42px;

    border-top: 1px solid #ECEFF2;

    
    
}

.footer p {
    font-family: 'Open Sans', sans-serif;

}

