* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*-------------------- Colors --------------------*/
    --bg-color: #FFFFFF;
    --tm-color: #323238;
    --cd-color: #E1E1E6;
    --cd-hover-color: #02799D;
    --icon-color: black;
    --icon-hover-color: #FFFFFF;

    /*-------------------- Fonts-sizes --------------------*/
    font-size: 62.5%;



    /*-------------------- Font-Family --------------------*/
    --ff-timer: 'Roboto', 'sans-serifs';
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border-radius: 1rem;
    width: 82.1rem;
    height: 33.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-------------------- Darkmode --------------------*/
.screenMode-light,
.screenMode-dark {
    background-color: transparent;
    border: none;

    cursor: pointer;

    position: absolute;
    top: 8.33%;
    right: 4.69%;
}

/*-------------------- Darkmode --------------------*/


#timer {
    width: 32.1rem;
    height: 21.3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#time {
    display: flex;

    font-family: var(--ff-timer);
    font-weight: 500;
    font-size: 12.1rem;
    line-height: 148p;
    font-style: normal;

    color: var(--tm-color);
    text-align: center;
    text-transform: uppercase;
}

#buttons {
    margin-bottom: 0;

    display: flex;
    align-items: flex-start;
    gap: 3.8rem;
    flex-direction: row;
}

.hide {
    display: none;
}

.pause {
    color: black;
    background-color: black;
}

.play,
.pause,
.stop,
.plus,
.minus {
    background: transparent;
    border: none;
}

.play:hover,
.pause:hover,
.stop:hover,
.plus:hover,
.minus:hover {
    transform: scale(1.1);
    transition: transform .6s ease;
}

#sons {
    width: 30.8rem;
    height: 33.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row01,
.row02 {
    display: flex;
    justify-content: space-between;
}

.card-forest,
.card-rain,
.card-coffe,
.card-firepit {
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 24px;
    background-color: var(--cd-color);
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
}

.slider-container .slider {

    width: 9.0rem;
    height: 1.6rem;
    border-radius: 5px;
    outline: none;

    margin-bottom: -3rem;
    margin-top: 3rem;
}

input[type="range"] {
    margin-top: 3.2rem;

    -webkit-appearance: none;
    width: 9.0rem;
    height: 0.4rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}


.card-forest:hover {
    background-color: var(--cd-hover-color);
    transform: scale(1.05);
    transition: transform .6s ease;
}

.card-rain:hover {
    background-color: var(--cd-hover-color);
    transform: scale(1.05);
    transition: transform .6s ease;
}

.card-coffe:hover {
    background-color: var(--cd-hover-color);
    transform: scale(1.05);
    transition: transform .6s ease;
}

.card-firepit:hover {
    background-color: var(--cd-hover-color);
    transform: scale(1.05);
    transition: transform .6s ease;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
    }
}