* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

:root {
    --ff-heading: 'Staatliches', 'sans-serif';
    --ff-texting: 'Palanquin', 'sans-serif';


    --hue: 250;
    --fc-header: ;
    --fc-logobackground: ;
    --fc-mainbackground: ;
    --fc-textbackground: ;


    font-size: 62.5%; /*10px*/
    --fs-heading: 4rem;
    --fs-fieldset: 2rem;
    --fs-main: 2rem;

}

