* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

:root {
    --ff-heading: 'Montserrat', 'sans-serif';


    font-size: 62.5%; /*10px*/
}

body {
    position: relative;
    width: 100%;
    height: 100vh;

    background: linear-gradient(45deg, #190361 0%, #951414 100%, #d6d316 100%);

    display: flex;
    animation: color 12s ease-in-out infinite;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*---------- Container-01 ----------*/
.container-01 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #ffffff;

    width: 428px;
    height: 424px;

    border-radius: 5px;
}

.container-01 h1 {
    margin-top: 4.8rem;
    color: black;
    font-family: 'Montserrat', 'sans-serif';
    font-style: bold;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;

    display: flex;
    align-items: center;
    text-align: center;
}

.container-01 p {
    margin-top: 1.4rem;
    color: black;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.0rem;
}
.container-01 button {
    border: none;
    background: none;
}

.container-01 img:hover {
      /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}


/*---------- Container-02 ----------*/
.container-02 .open{
    visibility: visible;
}

.container-02 {
    position: absolute;
    visibility: hidden;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 48px 64px;

    background: #ffffff;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);

    width: 428px;
    height: 564px;

    border-radius: 5px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-02 h1 {
    color: black;
    font-family: 'Montserrat', 'sans-serif';
    font-style: bold;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;

    display: flex;
    align-items: center;
    text-align: center;
}

.container-02 .sorte {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 293px;
    height: 107px;

    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}
.container-02 p {
    padding: 10px;
    font-family: 'Fasthand', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: black;

}

.container-02 img {
    margin-top: 17px;
    width: 300px;
    height: 200px;
}

.container-02 button {
    background: #FF9500;
    width: 174px;
    height: 52px;
    border-radius: 4px;

    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-family: 'DM Sans', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}